<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>MONGO DB CRUD</title>
	</head>
	<body>
		<h1>MONGO DB CRUD</h1>
		{{message}}

		<ul>
			{{#each employees}}
				<li>{{this.name}} - {{this.author}}</li>
			{{/each}}
		</ul>
	</body>
</html>